.app {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 80px 1fr 2fr;
  grid-template-areas:
    "nav hub chatwindow";
  gap: 2px;
}

@media only screen and (max-width: 767px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;
    grid-template-areas:
      "content"
      "nav";
  }

  .messaging-hub {
    grid-area: content;
  }

  .chat-window {
    grid-area: content;
  }

  nav {
    position: sticky;
    flex-direction: row;
    justify-content: center;
  }

  .nav-config {
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    margin-top: 0;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    padding: 10px;
    margin-top: 0;
  }

  .profile-modal {
    bottom: 80px;
    left: -100px;
  }

  nav ul li.active::before,
  .nav-config i.active::before {
    width: 50%;
    height: 5px;
    top: 0;
    left: 25%;
  }
}