.auth-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-logo {
  height: 12em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -150%);
  z-index: -1;
}

.auth-container {
  max-width: 400px;
  width: 100%;
  height: max-content;
  padding: 20px;
  background-color: rgba(54, 54, 54, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #fff;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.auth-container input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #363636;
  font-size: 1.2rem;
}

.auth-container .error-message {
  color: #ff0000;
  margin-top: -10px;
  margin-bottom: 15px;
}

.auth-container button {
  background-color: #4682b4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  font-size: 1.2rem;
}

.auth-container button:hover {
  background-color: #2e638e;
}

.auth-container p {
  margin-top: 15px;
  color: #fff;
}

.auth-container a {
  color: #4682b4;
  text-decoration: none;
  margin-left: 5px;
  font-weight: bold;
}

.auth-container a:hover {
  text-decoration: underline;
}
