.chat-window {
  grid-area: chatwindow;
  background-color: #363636;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chat-window-profile {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #555;
}

.chat-window-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid #fff;
}

.user-info {
  flex: 1;
}

.user-info h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #fff;
}

.status-container {
  display: flex;
  justify-content: space-between;
}

.online-status {
  color: #4682b4;
  font-weight: bold;
}

.last-seen {
  color: #777;
}

.messages-container {
  flex: 1;
}

.write-messages {
  display: flex;
  align-items: center;
}

.write-messages input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1rem;
}

.write-messages input:focus {
  border: 2px solid #4682b4;
  outline: none;
  box-shadow: 0 0 5px rgba(70, 130, 180, 0.5);
}

.write-messages button {
  background-color: #4682b4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.write-messages button:hover {
  background-color: #2e638e;
}
