.messaging-hub {
  grid-area: hub;
  border-radius: 10px 0 0 0;
  background-color: #363636;

  padding: 20px;
}

.hub-chat {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.hub-chat:hover {
  background-color: #242424;
}

.chat-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  border: 1px solid #fff;
}

.chat-details {
  flex: 1;
}

.chat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.chat-name {
  font-weight: bold;
}

.chat-time {
  color: #777;
}

.last-message {
  color: #555;
}
